Button.Parse {
background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
/*  display: inline-block;*/
    font-size: 14px;
}

DIV.tbl
{
    display:table;
    width: 100%;
    table-layout: auto;
}

DIV.col
{
    display:table-cell;
    padding:2px;
}

FORM.tr, DIV.tr
{
    display:table-row;
}

FORM.tr_prompt, DIV.tr_prompt
{
    display:table-row;
    background-color :blue;
}

FORM.tr_values, DIV.tr_values
{
    display:table-row;
    background-color :green;
}

INPUT.td, SPAN.td
{
    display:table-cell;
}

table.scroll {
    width: 100%;
    border-spacing: 0;
    border: 2px solid black;
    display: block;
}

table.scroll tbody,
table.scroll thead tr {
    display: block;
}

table.scroll tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    border-right: 1px solid black;
}

thead tr th {
    height: 30px;
    line-height: 30px;
}

tbody { border-top: 2px solid black; }

DIV.directory_path
{
    width: 100%;
    height: 1000px;
}

DIV.History_Scroll {
    overflow-y: auto;
/*  height: 100vh;*/
}

Table.directory_path
{
    border-spacing: 2;
    border: 2px solid black;
    border-collapse: collapse;
}

/* classes for the history screen */
table.history
{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    display: block;
}

table.history tbody.history,
table.history thead.history tr.history {
    display: block;
}

table.history tbody.history {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

span.history, td.history {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid black;
}

td.history-td-wide, th.history-th-wide {
/*  width:75%;*/
    border: 1px solid black;
    padding: 1px 2px;
}

td.history-td-narrow, th.history-th-narrow {
    white-space:nowrap;
    border: 1px solid black;
    padding: 1px 2px;
}

div.value_header_subscribe_all {
    width:17px;
    float: left;
    border: 1px solid black;
    padding: 1px 2px;
}

div.value_header_on_change_all {
    width:17px;
    float: left;
    border: 1px solid black;
    padding: 1px 2px;
}

td.value-check_box, div.value-check_box {
    width:10px;
    border: 1px solid black;
    padding: 1px 2px;
}

tr.value-value {
    width:100%;
}

input.value-value {
    width:100%;
    border: 1px solid black;
    padding: 1px 2px;
}

td.value-name {
    white-space:nowrap;
    border: 1px solid black;
    padding: 1px 2px;
}

td.value-time_stamp {
    white-space:nowrap;
    border: 1px solid black;
    padding: 1px 2px;
}

td.value-updates {
    white-space:nowrap;
    border: 1px solid black;
    padding: 1px 2px;
}

/* classes for the value screen */
table.value
{
    width: 100%;
    border-spacing: 2;
    border: 2px solid black;
    border-collapse: collapse;
    float:left;
    display: block; /* mandatory because scroll only works on block elements */
}

thead.value {
    padding: 1px 2px;
    text-align: left;
    display: block; /* mandatory because scroll only works on block elements */
    height: 50px;
}

tbody.value {
    display: block; /* mandatory because scroll only works on block elements */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

div.message {
    background-color: #EEEEEE;
}

.color-delete {
    background-color: #CDFCBD;
}

.color-filler {
    background-color: white;
}

.color-instructions {
    background-color: white;
}

.color-name {
    background-color: #99F0FF;
}

.color-on_change {
    background-color: #CDFCBD;
}

.color-on_change_all {
    background-color: #CDFCBD;
}

.color-subscribe {
    background-color: #B7DCE8;
}

.color-subscribe_all {
    background-color: #B7DCE8;
}

.color-time_stamp {
    background-color: #99F0FF;
}

.color-updates {
    background-color: #99E0FF;
}

.color-value {
    background-color: #EEEEEE;
}

div.path_window {
    background-color: Blue;
    width: 800px;

}

div.path_table {
    background-color: LightBlue;
/*  width: 795px; */
/*  height: 400px;*/

}

button.path_name_red {
    background-color: LightBlue;
    color: Red;
    width: 600px;
    border: none;
    padding: 0px 0px;
    text-align: left;
}

button.path_time_red {
    background-color: LightBlue;
    color: Red;
    width: 165px;
    border: none;
    padding: 0px 0px;
    text-align: left;
}

button.path_name_light_blue {
    background-color: LightBlue;
    color: black;
    width: 600px;
    border: none;
    padding: 0px 0px;
    text-align: left;
}

button.path_name_light_green {
    background-color: LightBlue;
    color: green;
    width: 600px;
    border: none;
    padding: 0px 0px;
    text-align: left;
}

button.path_time_light_blue {
    background-color: LightBlue;
    color: black;
    width: 165px;
    border: none;
    padding: 0px 0px;
    text-align: left;
}

button.path_time_light_green {
    background-color: LightBlue;
    color: green;
    width: 165px;
    border: none;
    padding: 0px 0px;
    text-align: left;
}

table.path_table {
    background-color: LightBlue;
    display: block;
    height: 340;
    border-spacing: 4px;
    border-color: white;
}

td.path_selected {
    background-color: LightBlue;
    border: none;
}

td.min_checkbox {
/*  width:31px;*/
}

td.max_text {
    width:99%;
}

#table_checkbox {
    margin 2px 2px 2px 2px;
    padding:2px;
}

/*th.on_change,td.on_change {   */
/*    background-color: #CDFCBD;*/
/*}                             */
/*                              */
/*th.delete,td.delete {         */
/*    background-color: #CDFCBD;*/
/*}                             */
/*                              */
/*th.updates,td.updates {       */
/*    background-color: #B7DCE8;*/
/*}                             */
/*                              */
/*/*/*th.time_stamp,td.time_stamp { */*/*/
/*/*/*    background-color: #F3F7A8;*/*/*/
/*/*/*}                             */*/*/

div.value_header_row {
    border: 0px;
}

div.value_header_name {
/*  background-color: #99B0FF;*/
    text-align: left;
    float:left;
    border: 0px;
}

div.value_header_filler {
    text-align: left;
    float:left;
    border: 0px;
}

div.value_header_instructions {
    text-align: right;
    float:left;
    border: 0px;
    padding-right: 4;
}

div.value_header_value {
    text-align: left;
/*  background-color: #99B0FF;*/
    float:left;
    border: 0px;
}

div.value_header_time_stamp {
    text-align: left;
    float:left;
    border: 0px;
}

div.value_header_delete {
/*  text-align: right;*/
    float:left;
    border: 0px;
}

div.value_updates {
    text-align: right;
/*  background-color: #99B0FF;*/
    float:left;
    border: 0px;
}

div.value_delete {
    text-align: right;
/*  background-color: #99B0FF;*/
    float:left;
    border: 0px;
}

div.value_header_subscribe {
    text-align: right;
/*  background-color: #B7DCE8;*/
    float:left;
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
}

div.value_header_on_change {
    text-align: left;
/*  background-color: #CDFCBD;*/
    float:left;
    padding-left: 2px;
    border: 0px;
}

div.value_header_updates {
    text-align: left;
/*  background-color: #99C0FF;*/
    float:left;
    border: 0px;
}

th, td {
    border: 1px;
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;
    padding-bottom:2px;
}

input[type="checkbox"] {
    margin: 0px;
}

div.text {
  float:left;
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

div.saved_path {
    padding-right: 4px;
    padding-bottom: 2px;
}

input.saved_path {
    border: 2px solid blacj;
    padding-right: 4px;
    padding-bottom: 2px;
}








